@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f9;
    margin: 20px;
    padding: 20px;
    color: #333;
}

h1 {
    color: #444;
}


button {
    background-color: #153448;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}


div {
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
}

/* .hidden {
    display: none;
} */


input[type="text"],
input[type="number"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 16px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
}


ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 8px;
    margin-top: 5px;
    border-bottom: 1px solid #eee;
}

.notifications{
    display: inline-grid;
    float: inline-end;
}

#notification-Error {
    color: red;
    /* padding: 10px; */
    background-color: #f8d7da;
    border-color: #f5c6cb;
    margin-top: -7px;
    border-radius: 4px;
    width: 180px;
    text-align: center;
    float: right;
    height: 30px;
    padding-top: 0px;
    padding-bottom: 25px;
    /* display: none;  */
}

#notification-Success {
    color: rgb(43, 219, 73);
    /* padding: 10px; */
    background-color: #ade5b0;
    border-color: #b5eeb0;
    margin-top: -2px;
    border-radius: 4px;
    width: 180px;
    text-align: center;
    float: right;
    height: 30px;
    padding-top: 0px;
    padding-bottom: 25px;
}



#dual-sections {
    display: flex;
    justify-content: space-between;
    gap: 20px; 
}


#tokensSection, #historySection {
    flex: 1;
    min-width: 300px; 
}


@media (max-width: 768px) {
    #dual-sections {
        flex-direction: column;
    }
}

/* To make the error notification responsive */
@media (max-width: 600px) {
    #balanceSection {
      display: flex;
      flex-direction: column;
    }
     #notification-Error {
    margin: 0 auto;
    width: 80%;
  }
    #balance {
      margin-top: 10px;
    }
  }
  @media (max-width: 600px) {
    #sendSection {
      display: flex;
      flex-direction: column;
    }
     #notification-Success {
    margin: 0 auto;
    width: 80%;
    }
  }